/* public/css/auth.whatever.css */

body{
  background-image: url('../images/background4.png'); 
  background-size: cover;
  background-position: center;
  font-family: 'Arial', sans-serif;
  min-height: 100vh;   
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-container{ position: relative; }


.password-container input{ padding-right: 2.5rem; }


.toggle-password{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  color: #6c757d;
  display: flex;
  align-items: center;
  height: 100%;
}

.toggle-password:hover{ color: #343a40; }
